<li>
    <div class="each-burger" data-id="{{id}}">
        <p>{{burger_name}}</p>
        <button type="button" class="btn btn-success">Eat</button>
        <button type="button" class="btn btn-warning">Remove</button>
    </div>
</li>